@import "form";

#ad {
  width: 600px;
  height: auto;
  padding: 20px;
  background: #fff;
  margin: 20px auto 0;
  position: relative;
  min-height: 500px;
}

option.form-control {
  border: 0;
}

.input-group {
  .costs {
    float: right;
    width: 150px;
  }
  .zl {
    padding: 3px 10px;
  }
  input[type=text] {
    width: 50%;
    float: right;
    padding: 3px;
    height: 22px;
    margin-bottom: 0;
  }
}

.address-error {
  clear: both;
}

#select-rent-type {
  margin-bottom: 10px;
  img {
    margin-bottom: 10px;
  }
}

#room-table {
  .btn-group {
    margin-bottom: 5px;
  }

  #tab_logic {
    font-size: 14px;
    width: auto;
    td {
      vertical-align: middle;
    }
    input.form-control {
      width: 100px;
    }
  }

  #add_row span {
    position: relative;
    top: -1px;
    left: 1px;
  }

  #delete_row span {
    position: relative;
    top: -1px;
  }
}

.standard {
  background: #2cbab2;
  &:hover {
    background: darken(#2cbab2, 6%);
  }
}

.hint {
  color: #aaa;
}

.long-label {
  height: auto;
}