legend Zakres wynajmu
.row#select-rent-type
  .col-lg-1
  .row.col-lg-10
    .col-lg-4.radio
      img(src='../assets/i1.png').col-lg-12
      label.text-center
        input(type='radio', name='optradio')
        | mieszkanie
    .col-lg-4.radio
      img(src='../assets/i2.png').col-lg-12
      label.text-center
        input(type='radio', name='optradio')
        | pokoje
    .col-lg-4.radio
      img(src='../assets/i3.png').col-lg-12
      label.text-center
        input(type='radio', name='optradio')
        | miejsca w pokoju
  .col-lg-1

.row#room-table
  .col-md-2
  .col-md-8
    .col-md-1
    .col-md-10
      .row
        .btn-group.pull-right
          a#add_row.btn.btn-default.btn-success
            span.glyphicon.glyphicon-plus
          a#delete_row.btn.btn-default.btn-danger
            span.glyphicon.glyphicon-minus
      .row
        table#tab_logic.table.table-hover.table-bordered.col-md-12
          thead
            tr
              th.text-center
                | Pokój
              th.text-center
                | Miejsc
              th.text-center
                | Wolnych miejsc
          tbody
            tr#addr0
              td
                | 1
              td
                input.form-control(type='number' min='0'
                name='all_seats0')
              td
                input.form-control(type='number' min='0'
                name='free_seats0')
            tr#addr1
    .col-md-1
  .col-md-2
