extends base

block inner
  div.row
    div.col-md-3
    div.col-md-6
      h1 Formularz zgłoszeniowy <3
      h5 Uwaga: ogłoszenie będzie widoczne w katalogu dopiero po
        | uiszczeniu opłaty za koszt wyświetlenia ogłoszenia.
    div.col-md-3

  form#ad(action='somewhere', method='POST').form-horizontal
    ul#section-tabs
      li.current.active
        span 1.
      li
        span 2.
      li
        span 3.
      li
        span 4.
      li
        span 5.
    #fieldsets
      fieldset.current
        include fieldset1.jade
      fieldset.next
        include fieldset2.jade
      fieldset.next
        include fieldset3.jade
      fieldset.next
        include fieldset4.jade
      fieldset.next
        include fieldset5.jade
      a#next.btn.standard Dalej &#x25B7;
      input.btn.standard(type='submit')
