extends base

block inner
    div.row
        div.col-md-3
        div.col-md-6
            h1 Formularz zgłoszeniowy
            h5 Uwaga: ogłoszenie będzie widoczne w katalogu dopiero po
                | uiszczeniu opłaty za koszt wyświetlenia ogłoszenia.
        div.col-md-3

    form#ad(action='somewhere', method='POST').form-horizontal
        ul#section-tabs
            li.current.active
                span 1.
            li
                span 2.
            li
                span 3.
            li
                span 4.
            li
                span 5.
        #fieldsets
            fieldset.current
                block fieldset1
            fieldset.next
                block fieldset2
            fieldset.next
                block fieldset3
            fieldset.next
                block fieldset4
            fieldset.next
                block fieldset5
            a#next.btn Dalej &#x25B7;
            input.btn(type='submit')
